DOMAIN=localhost
PROTOCOL=http

# only useful to set if you're developing or building a custom docker image. Otherwise, you can set the default API URL in the app itself
PUBLIC_API_URL=https://audiostream.pxr.dpdns.org 